# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\idea-workspace\atguigu-JavaWeb2022\pro-web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
